body{
    margin: 0px;
}

.fundo-de-tela{
    height: 750px;
    background-image: linear-gradient(to bottom, #F47A77, #F58E69);
    z-index: -1;
}
.imagem {
    height: 750px;
}
.imagem > img{
    width: 100%;
    height: 1500px;
    margin-top: -400px;
}
#main{
    margin: 0;
    height: 0;
}
.textodomeio{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 500px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: bold;
}
.textoprincipal h1 {
    font-size: 60pt;
}
.textoprincipal h1, h4 {
    margin: 0;
    padding: 2px;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.textoprincipal h5 {
    font-size: 13pt;
    margin: 15px;
}
h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.botao {
    display: flex;
    justify-content: center;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.botaofree {
    position: relative;
    bottom: 475px;
    background-color: #1ED760;
    display: flex;
    justify-content: center;
    width: 290px;
    height: 50px;
    border: none;
    border-radius: 500px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
}

footer{
    background-color: black;
    color: #FFFF;
    display: flex;
    justify-content: space-between;
    padding: 2.5%;
}
.itensFooter ul{
    list-style: none;
    width: 15vh;
}
.itensFooter h3{
    display: flex;
    color: #8f9395;
    flex-wrap: nowrap;
}
.titulofooter{
    display: flex;
}
.boxintem{
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    background-color: #8f9395;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rede{
    width: 60%;
}
.icones ul{
    display: flex;
    list-style: none;
    width: 20%;
}
.icones li{
    margin-left: 20%;
}
.itensFooter li{
    padding: 5%;
}
.listas{
    display: flex;
    width: 100vh;
    justify-content: space-between;
}
.noquebra{
    display: flex;
    width: 66.666vh;
    justify-content: space-around;
    margin-right: 20vh;
}

@media screen and (max-width:930px){
    footer{
        display: flex;
        flex-wrap: wrap;
    }
    .itensFooter h3{
        display: flex;
        color: #8f9395;
        flex-wrap: nowrap;
    }
}
@media screen and (max-width:650px){
    .listas{
        flex-wrap: wrap;
    }
}
